@import '../../../assets/styles/colorTheme';
.Button {
    background: none;
    border: none;
    font: inherit;
    font-weight: 600;
    padding: 10px 20px;
    color: inherit;
    font-size: 13px;
    &:focus {
        outline: none;
    }
}

@media (min-width: 376px) {
    .Button {
        font-size: inherit;
    }
}

.DarkMode {
    color: $white;
}

.BorderCountry {
    font-weight: 300;
    background-color: $white;
    border-radius: 2px;
    box-shadow: $light-box-shadow;
    padding: 5px 10px;
    margin: 5px;
    font-size: 12px;
    &:hover {
        box-shadow: $light-box-shadow-hover;
    }
}

.DarkMode {
    background-color: $dark-blue;
    box-shadow: $dark-box-shadow;
    &:hover {
        box-shadow: $dark-box-shadow-hover;
    }
}