@import './assets/styles/colorTheme';
.App {
    background-color: $very-light-grey;
    color: $very-dark-blue;
    min-height: 100vh;
}

.DarkMode {
    background-color: $very-dark-blue-bg;
    color: $white;
}