@import '../../../assets/styles/colorTheme';
.Header {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-sizing: border-box;
    height: 72px;
    box-shadow: 0 2px 4px #eee;
    h3 {
        margin: 0;
        font-weight: 800;
    }
}