@import '../../../assets/styles/colorTheme';
.Header {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-sizing: border-box;
    height: 72px;
    box-shadow: $light-box-shadow;
    h3 {
        margin: 0;
        font-weight: 800;
    }
}

.DarkMode {
    background-color: $dark-blue;
    color: $white;
    box-shadow: $dark-box-shadow;
}